<section>
  <div class="page-header">
    <h1>Degrees</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="degree in vm.degrees"
       ui-sref="degrees.view({ degreeId: degree._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="degree.created | date:'mediumDate'"></span>
        by
        <span ng-if="degree.user" ng-bind="degree.user.displayName"></span>
        <span ng-if="!degree.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="degree.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.degrees.$resolved && !vm.degrees.length">
    No Degrees yet, why don't you <a ui-sref="degrees.create">create one</a>?
  </div>
</section>
